body {
  background-color: #161616;
  font-size: 38px;
  font-family: monospace;
  text-align: center;
}

p {
  margin: 0px;
  padding: 10px;
  border: solid 0.5px #394348;
  background-color: #ecf0f3;
}

.calcolatrice {
  display: grid;
  width: 400px;
  margin: auto;
  box-sizing: border-box;

  border: solid 1px transparent;
  border-radius: 15px;
}

.pulsanti {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.zero {
  grid-column: 1 / -1;
  background-color: #394348;
  color: white;
  border-radius: 15px 15px 0px 0px;
  font-size: 44px;
  text-align: right;
}

.uguale {
  grid-column: 4 / -1;
  grid-row: 3 / 7;
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: #ff656e;
  border: solid 0.5px #394348;
  border-radius: 0px 0px 15px 0px;
}

div.uguale > p {
  border: none;
  background-color: #ff656e;
}

p:nth-child(16) {
  border-radius: 0px 0px 0px 15px;
}
