html {
  font-size: 10px;
}

body {
  background-color: cadetblue;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

aside {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: fixed;

  width: 20rem;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;

  background-color: aliceblue;
  font-size: 1.8rem;
}

aside img {
  width: 15rem;
}

aside ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 0;
  margin-top: 5rem;
  list-style-type: none;
}

li {
  text-align: center;
  line-height: 3rem;
}

li a {
  color: #2b2b2b;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

li a:hover {
  color: #2b2bb2;
}

img[alt*="avatar"] {
  width: 7rem;
  background-color: #2b2b2b;
  border-radius: 5rem;
  padding: 1rem;
}
