/* ---- TAG GENERALI ---- */

* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #242424;
}

html {
  font-size: 1.3rem;
}

body {
  background-color: #f6bd60;
}

img {
  height: 100%;
  width: 100%;
}

h3,
h4 {
  margin: 0;
  font-weight: unset;
}

/* ----------------------- */

main.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: center;
}

article.card {
  display: flex;
  flex-flow: column wrap;
  background-color: #84a59d;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem;
  filter: drop-shadow(0 0 1rem #f28482);
}

section.card-header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  padding-bottom: 1.2rem;
}

div.avatar-placeholder {
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
}

div.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 0.8rem;
}

div.ellipsis {
  display: flex;
  justify-content: end;
  align-items: center;
}

div.ellipsis svg {
  width: 1.5rem;
}

section.social-action {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1.5rem 0 0 1rem;
  font-size: 1.4rem;
  color: #f5cac3;
}
